body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #e1f4f3;

  /* margin: auto; */

  /* justify-content: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  display: flex;
  margin: auto;
  max-width: 1300px;
  width: 100vw;
  justify-content: center;
}

.App-header-fixed-parent {
  /* width: 24rem; */
  height: 100vh;
  background-color: black;
  flex-basis: 292.38px;
  flex-shrink: 0;
}

.App-header {
  width: 292.38px;
  position: fixed;
  /* top: 0; */
  /* width: inherit;
  /* 706c61 */
  /* background-color: #282c34; */
  background-color: #333333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 4px;
}
.App-header img {
  width: 70%;
  border-radius: 100%;
  margin: 1.8rem auto 1.4rem;
  /* height: 50px; */
}

.App-header h3 {
  font-family: "EB Garamond", serif;
  margin: 0 0 0.6rem;
  font-size: 2.4rem;
}

.App-header h4 {
  font-size: 0.9rem;
}

.App-header p {
  /* font-family: "EB Garamond", serif; */
  font-size: 0.8rem;
  color: #706c61;
}

/* .App-header br {
  font-size: 0.8rem;
} */

i {
  margin: 0.4rem;
}
.icon {
  width: 32px !important;
  height: 32px;
  margin: 0.4rem !important;
}

.main-body {
  /* width: 100%; */
  background-color: #ffffff;
  flex-grow: 1;
  min-width: 0;
}
.main-body h1 {
  /* width: 100%; */
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: rgb(202, 242, 255); */
  background-color: #706c61;
  color: white;
  padding: 2rem 2rem 1rem;
  -webkit-box-shadow: inset 0px 0px 0px 10px rgb(255, 255, 255);
  -moz-box-shadow: inset 0px 0px 0px 10px rgb(255, 255, 255);
  box-shadow: inset 0px 0px 0px 10px rgb(255, 255, 255);
  border: 10px solid #706c61;
}
.about-me-who-am-i {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: rgb(202, 242, 255); */
}
.about-me-who-am-i-div {
  width: 20rem;
  margin: 5rem;
}
.about-me img {
  height: 30rem;
  border-radius: 100%;
  margin: 2rem;
}
.about-me h1 {
  font-family: "EB Garamond", serif;
  font-size: 4.4rem;
}

.my-skills {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(202, 242, 255); */
  background-color: #ffffff;
  /* color: white; */
  padding: 1rem 2rem 2rem;
  /* -webkit-box-shadow: inset 0px 0px 0px 10px rgb(255, 255, 255);
  -moz-box-shadow: inset 0px 0px 0px 10px rgb(255, 255, 255);
  box-shadow: inset 0px 0px 0px 10px rgb(255, 255, 255);
  border: 10px solid #706c61; */
}
.my-skills-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-flow: wrap;

  margin: 2rem 0;
  justify-content: center;
}
.my-skills-row img {
  width: 10rem;
}

.my-skills-img-left {
  margin: 0 3rem 0 0;
}
.my-skills-img-right {
  margin: 0 0 0 3rem;
}

.my-skills-row h3 {
  color: #333333;
}

.my-skills-row-text {
  width: 30rem;
}

.my-interests {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 2rem;
  background-color: #706c61;
  color: white;
}
.my-interests-lists {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.my-interests-lists ul {
  margin: 0;
}
.my-interests-lists li {
  margin: 1.3em;
}

.carousel-caption h3,
.carousel-caption p {
  background: rgba(0, 0, 0, 0.4);
  margin: auto;
}

.App-link {
  color: #61dafb;
}

.mr-auto {
  background-color: #333333;
}

.nav-link {
  padding: 0;
  font-size: 1.4rem;
  /* display: flex;
  flex-direction: column; */
}
.navbar-dark,
.bg-dark {
  background-color: #333333 !important;
}
.jumbotron {
  height: 300px;
  background-size: cover !important;
  color: white;
}
.jumbo1 {
  background-image: url("/images/games/bd2.jpg") !important;
}
.jumbo2 {
  background-image: url("/images/games/bdr.png") !important;
}
.jumbo2 {
  background-image: url("/images/games/in4.png") !important;
}
.jumbo3 {
  background-image: url("/images/games/bdr.png") !important;
}

.jumbowa1 {
  background-image: url("/images/webapps/tw.png") !important;
}

.jumbotron span {
  background: rgba(0, 0, 0, 0.4);
}

.game-info {
  text-align: left;
  margin: 0 2rem 2rem;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
.game-info .card {
  flex-basis: 19rem;
  flex-shrink: 0;
  margin: 0 2rem 0 0;
}

.game-info-text {
  flex-grow: 1; /* it can grow */
  flex-shrink: 1; /* it can shrink */
  flex-basis: 340px; /* arbitrary depending on design */
  min-width: 340px; /* equal to flex-basis */
}

.title {
  background-color: #333333;
  padding: 8px 0 18px;
  color: white;
}
.title h1 {
  margin: 0;
}

/* .game-info p {
  margin-left: 2rem;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
